:root {
  --color-background: #fbf8f3;
  --color-main-heaing: #000;
  --color-paragraph: #545454;
  --color-primary: #4d13d1;
  --color-secondary: #43b29e;
  --color-white: #fff;

  --padding-btn: 0.8rem 1.5rem;
  --border-radius: 5px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================== CSS RESET ============================== */
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left,
.right {
  width: 100%;
}

/* ======================= LEFT SIDE ======================= */

.left {
  align-self: center;
}

.logo {
  color: var(--color-main-heaing);
  text-decoration: none;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 3rem 0 2rem 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0;
}

label {
  margin-bottom: 0.8rem;
  font-weight: 400;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 60%;
  height: 30px;
  border-radius: var(--border-radius);
  border: 2px solid rgb(214, 214, 214);
}

.terms {
  display: flex;
  width: 60%;
  margin: 2rem 0;
}

p {
  font: 0.7rem;
  color: var(--color-main-heaing);
}

button {
  width: 62%;
  padding: 0.8rem 0;
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-white);
  margin-bottom: 1rem;
}

p > a {
  color: var(--color-primary);
}

/* ======================= RIGHT SIDE ======================= */

.right {
  background-color: var(--color-primary);
  justify-self: center;
  text-align: center;
  padding: 3rem 1.5rem;
}

.img {
  background-image: url("/Assets/Sign_Up_Image.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 400px;
  margin: -1rem auto;
}

.sub-heading {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 700;
}

.desc {
  color: rgba(255, 255, 255, 0.5);
  width: 65%;
  margin: 1.2rem auto;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.circle {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle:nth-child(1) {
  background-color: rgba(255, 255, 255, 1);
}

/* ======================= MEDIA QUERIES ======================= */

@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
  }

  .terms {
    width: 100%;
  }

  .right {
    display: none;
  }
}
