:root {
  --color-background: #fbf8f3;
  --color-main-heaing: #000;
  --color-paragraph: #545454;
  --color-primary: #4d13d1;
  --color-secondary: #43b29e;
  --color-white: #fff;

  --padding-btn: 0.8rem 1.5rem;
  --border-radius: 5px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ============================== CSS RESET ============================== */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* ============================== NAVBAR ============================== */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.sidebar {
  display: none;
}

.navbar .links {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--color-main-heaing);
  font-weight: 600;
  text-decoration: none;
}

.link {
  color: var(--color-paragraph);
  text-decoration: none;
}

.sign-in,
.sign-up {
  color: var(--color-main-heaing);
  font-weight: 600;
  text-decoration: none;
}

.sign-up {
  background: var(--color-primary);
  color: var(--color-white);
  padding: var(--padding-btn);
  border-radius: var(--border-radius);
  margin-left: 0.7rem;
}

img.hamburger-menu {
  display: none !important;
}
/* ============================== END OF NAVBAR ============================== */

/* ============================== HERO SECTION ============================== */

main {
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  width: 52%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.1rem;
}

.main-header {
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.desc {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--color-paragraph);
}

.btns {
  margin-bottom: 1.5rem;
}

.free-trail {
  background: var(--color-primary);
  color: var(--color-white);
  padding: var(--padding-btn);
  border-radius: var(--border-radius);
  margin-right: 1rem;
  text-decoration: none;
}

.examples {
  color: var(--color-primary);
  font-weight: 600;
}

.benefits {
  display: flex;
  align-items: center;
}

.benefit {
  margin-right: 1rem;
  align-self: center;
  justify-self: center;
}

small {
  font-size: 0.9rem;
}

.hero-img {
  width: 100%;
  height: 100%;
}

/* ============================== END OF HERO SECTION ============================== */

/* ============================== ABOUT SECTION ============================== */
.about {
  margin-top: 6.5rem;
}

.about small {
  color: var(--color-primary);
  font-weight: 700;
}

.sub-heading {
  width: 60%;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0 4rem 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  /* gap: 1.8rem; */
}

.card {
  width: 27%;
}

.card-heading {
  font-weight: 700;
  margin: 1.5rem 0;
}

.card-desc {
  color: var(--color-paragraph);
  line-height: 1.5;
}

/* ============================== END OF ABOUT SECTION ============================== */

/* ============================== PORTFOLIO SECTION ============================== */
.portfolio {
  width: 100%;
  height: 500px;
  background-color: var(--color-primary);
  margin: 5rem 0 5rem 0;
  border-radius: var(--border-radius);
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-portfolio {
  align-self: center;
  justify-self: center;
  width: 90%;
}

.left-portfolio .sub-heading {
  color: var(--color-white);
  margin-bottom: 1rem;
  width: 100%;
}

.left-portfolio .desc {
  color: rgba(255, 255, 255, 0.5);
  width: 85%;
  margin-bottom: 2.5rem;
}

.left-portfolio .portfolio-btn {
  background-color: var(--color-white);
  padding: var(--padding-btn);
  border-radius: var(--border-radius);
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}

.right-portfolio {
  background-image: url("/Assets/Page_Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  align-self: end;
}

/* ====================================== END OF PORTFOLIO ====================================== */

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
  gap: 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.person {
  border: 1px solid rgb(204, 204, 204);
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  height: 250px;
}

.person .top {
  display: flex;
  align-items: center;
}

.person .top .person-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.person .top .person-info .person-name {
  color: var(--color-primary);
  font-weight: 700;
}

.experience {
  margin: 1rem 0 2.5rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.person-portfolio-btn {
  color: var(--color-primary);
  background-color: transparent;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  padding: 1rem 3.5rem;
  display: block;
  margin: auto;
  border-radius: var(--border-radius);
  transition: all 300ms ease;
}

.person-portfolio-btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
}

/* ====================================== END OF TESTIMONIALS ====================================== */

footer {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  margin-top: 5rem;
  gap: 1rem;
  margin-bottom: 3rem;
}

.number-1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.number-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headline {
  font-weight: 700;
}

.number-1 p {
  color: var(--color-paragraph);
  font-size: 1rem;
  line-height: 1.5;
}

.footer-link {
  color: var(--color-paragraph);
  text-decoration: none;
}

/* ====================================== MEDIA QUERIES ====================================== */

@media (max-width: 1000px) {
  .reviews {
    display: none;
  }

  .navbar .links {
    width: 35%;
  }

  .person {
    height: 380px;
  }
}

@media (max-width: 750px) {
  .link,
  .sign-in,
  .sign-up {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu:hover {
    cursor: pointer;
  }

  /* End of Nav Section */

  /* Hero Section */
  main {
    grid-template-columns: 100%;
  }

  .right {
    grid-row: 1 / 2;
  }

  .about {
    margin-top: 370px;
  }
}

@media (max-width: 650px) {
  .sidebar {
    position: fixed;
    right: 0;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem rgba(199, 199, 199, 0.623);
    height: 60vh;
    padding-left: 2rem;
    display: none;
  }

  .close {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-top: 2rem;
  }

  .sidebar-link,
  .sidebar-sign-in,
  .sidebar-sign-up {
    text-decoration: none;
    color: var(--color-main-heaing);
  }

  .sidebar-sign-up {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 3rem;
    border-radius: var(--border-radius);
  }

  .sub-heading {
    width: 100%;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 50px;
  }

  .portfolio {
    grid-template-columns: 100%;
    height: 600px;
  }

  .left-portfolio {
    align-self: flex-start;
  }

  .right-portfolio {
    align-self: flex-start;
    justify-self: center;
    border-radius: 5px 5px 0 0;
    height: 100%;
  }

  .media-scroller {
    grid-auto-flow: row;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;

    overflow-x: hidden;
    overscroll-behavior-inline: none;
  }

  .snaps-inline {
    scroll-snap-type: none;
  }

  .snaps-inline > * {
    scroll-snap-align: none;
  }

  .person {
    height: 230px;
  }

  .person:nth-child(4),
  .person:nth-child(5),
  .person:nth-child(6) {
    display: none;
  }

  footer {
    grid-template-columns: 100%;
    gap: 3rem;
  }
}
